<h1>All the Categories</h1>
<div class="container">
  <div id="all-categories" class="col-xs-6">
    <% @categories.each do |category| %>
      <div data-category-id="<%= category.id %>">
        <p class="category-title"><%= category.title %></p>
        <button class="btn delete-category-btn">Delete Category</button>
        <input type="text" class="new-tag-name" placeholder="Name">
        <button class="btn add-tag-btn">Add Tag</button>
        <ul class="category-tag-list">
          <% category.tags.sort_by(&:name).each do |tag| %>
            <% if tag.active %>
              <li data-tag-id="<%= tag.id %>">
                <p class="tag-title"><%= tag.name %></p>
                <button class="btn delete-tag-btn">Delete Tag</button>
                <% if tag.routine == -1 %>
                  <button class="btn routine-add-tag-btn">Add to Routine</button>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <input type="text" id="new-category-name" placeholder="Name">
    <input type="submit" id="new-category-submit" value="Add Category">
  </div>

  <div id="routine-setup" class="col-xs-6">
  <!-- Class sortable for jQuery UI -->
    <ul class="sortable">
      <% @tags.each do |tag| %>
        <% unless tag.routine == -1 %>
          <li data-routine-tag-id="<%= tag.id %>"
          data-routine-category-id="<%= tag.category.id %>">
            <p class="routine-tag-title"><%= tag.name %></p>
            <button class="btn routine-remove-tag-btn">Remove from Routine</button>
          </li>
        <% end %>
      <% end %>
    </ul>
    <button id="save-routine" class="btn routine-save-btn">Save Routine</button>
  </div>
</div>
