<div id="all-categories">
  <% @categories.each do |category| %>
    <div data-category-id="<%= category.id %>">
      <p class="category-title"><%= category.title %></p>
      <button class="delete-category-btn">Delete Category</button>
      <button class="add-tag-btn">Add Tag</button>
      <ul>
        <% category.tags.each do |tag| %>
          <% if tag.active %>
            <li data-tag-id="<%= tag.id %>">
              <%= tag.name %>
              <a href="#">Delete Tag</a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<input type="text" id="new-category-name" placeholder="Name">
<input type="submit" id="new-category-submit" value="Add Category">

<div id="routine-setup">
  <ul>
    <% @tags.each do |tag| %>
      <% unless tag.routine == -1 %>
        <li data-routine-id="<%= tag.id %>">
          <%= tag.name %>
          <%= tag.active %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
