<h1>CheckUp Setup</h1>
<div class="col-xs-12 new-category-btns">
  <input type="text" id="new-category-name" placeholder="Category Name">
  <button class="btn routine-btn" id="new-category-submit">Create Category</button>
</div>
<div id="all-categories" class="col-xs-6">
  <h3 class="subheader">Categories</h3>
  <h6 class="miniheader">Click titlebar to show or hide</h6>
  <% @categories.each do |category| %>
    <div data-category-id="<%= category.id %>" class="main-category"
      data-category-title="<%= category.title %>">
      <p class="category-title"><%= category.title %></p>
      <ul class="category-tag-list hideme">
        <% category.tags.sort_by(&:name).each do |tag| %>
          <% if tag.active %>
            <li data-tag-id="<%= tag.id %>">
              <button class="btn delete-tag-btn routine-btn glyphicon glyphicon-remove"></button>
              <% if tag.routine == -1 %>
                <button class="btn routine-add-tag-btn routine-btn glyphicon glyphicon-chevron-right"></button>
              <% end %>
              <p class="tag-title"><%= tag.name %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
      <input type="text" class="new-tag-name hideme" placeholder="Tag Name">
      <button class="btn add-tag-btn routine-btn hideme">Add Tag</button>
      <button class="btn delete-category-btn routine-btn hideme">Delete Category</button>
    </div>
  <% end %>
</div>
<div id="routine-setup" class="col-xs-6">
  <h3 class="subheader">Routine
  <button id="save-routine" class="btn btn-success routine-save-btn routine-btn">Save</button>
  </h3>
  <h6 class="miniheader">Drag tags to reorder use arrows to remove</h6>
  <ul class="sortable">
    <% @tags.each do |tag| %>
      <% unless tag.routine == -1 %>
        <li data-routine-tag-id="<%= tag.id %>"
        data-routine-category-id="<%= tag.category.id %>"
        class="tag-routine-li"
        style="background-color:<%= "rgb(#{tag.color})" %>">
          <button class="btn routine-btn routine-remove-tag-btn glyphicon glyphicon-chevron-left"></button>
          <p class="routine-tag-title"><%= tag.name %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
