<div class="col-xs-12">
  <div class="form-container">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'form-inline' }) do |f| %>
      <div class="form-container">
        <h1>CheckUp</h1>
        <h4>Lightweight Mobile Metrics</h4>
        <%= f.email_field :email, :autofocus => true, class: 'form-control', placeholder: 'Email' %>
        <%= f.password_field :password, class: 'form-control',
          placeholder: "Password" %>
      </div>
      <%= f.submit "Log In", class: 'btn btn-info form-control' %>
      <%= link_to "Not a member? Sign up!", new_user_registration_path, class:
      'devise-link' %>

    <% end %>
    <%= devise_error_messages! %>
  </div>
</div>
