<!DOCTYPE html>
<html>
<head>
  <title>CheckUp</title>
  <meta property="og:image" content="<%= image_url('checkup-og.png') %>">
  <meta property="og:site_name", content="CheckUp">
  <meta property="og:description", content="Lightweight mobile metrics to see where you spend your time each day.">
  <meta property="og:title", content="CheckUp">
  <meta property="og:url", content="http://checkupapp.herokuapp.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller.controller_path %>"
  data-action="<%= controller.action_name %>">
  <div class="nav-bar"><%= render 'layouts/nav_bar' %></div>
  <div class="messages">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
