<!DOCTYPE html>
<html>
<head>
  <title>CheckUp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body data-controller="<%= controller.controller_path %>"
  data-action="<%= controller.action_name %>">
  <div class="nav-bar"><%= render 'layouts/nav_bar' %></div>
  <div class="messages">
    <div class="notice"><%= notice %></div>
    <div class="alert"><%= alert %></div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
