<!DOCTYPE html>
<html>
<head>
  <title>CheckUp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="css/normalize.css" rel="stylesheet" type="text/css"/>
  <link href="css/datepicker.css" rel="stylesheet" type="text/css"/>
</head>
<body data-controller="<%= controller.controller_path %>"
  data-action="<%= controller.action_name %>">

<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= render 'layouts/user_login_widget' %>
</body>
</html>
